@import url("https://use.typekit.net/fwu2ryy.css");

html{
    font-family: "owners", sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 2px;
}

body{
    background-color: white;
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 24px;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    border-bottom: 1px solid gray;
}

nav{
    display: flex;
    gap: 32px;
}

nav a{
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 3;
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

header p{
    font-size: 50px;
}

nav a.active{
    font-weight: 500;
}

.content{
    padding: 88px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

section{
    min-width: 200px;
}

.intro{
    flex: 1;
    position: fixed;
    width: 325px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 1.2;
    color: black;
    top: 88px;
    left: 20px;
    opacity: 0;
    transform: translateX(-30px);
    transition: 1s ease-out;
}

.intro-description > p.hello{
    font-size: 50px;
    font-weight: 500;
    margin: 20px 0px;
}

.intro-description p{
    font-size: 24px;
    margin: 0px 0px 20px 0px;
}

.intro.loaded{
    opacity: 1;
    transform: translateX(0);
}

.experience{
    flex: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: calc(325px + 40px);
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding-bottom: 0px;
}

.section-title p{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
    padding: 20px 20px 5px 20px;
}

.experience-row{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: stretch;
    padding: 20px 20px;
    opacity: 0;
    border-bottom: 1px solid gray;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out,
                transform 0.8s ease-out;
}

.experience .experience-row:first-of-type{
    border-top: 1px solid gray;
}

.experience-row.reveal{
    opacity: 1;
    transform: translateY(0px);
}

.job-info a{
    text-decoration: none;
    color: black;
}

.job-info a:hover{
    text-decoration: underline;
}

.experience-info{
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    color: black;
}

.job-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.job-info p{
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

p.job-title{
    font-size: 50px;
    font-weight: 500;
}

.job-description p{
    font-size: 24px;
    font-weight: 200;
    margin: 0;
}

.job-image{
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;
}

.job-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.4s ease-out;
}

.job-image img:hover{
    filter: brightness(70%);
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px 20px 20px;
}

.contact-icons{
    display: flex;
    gap: 20px;
}

.contact-icons a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.contact-icons a:hover{
    color: gray;
}

.design-tag p{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    color: black;
}

footer{
    display: none; 
    padding: 20px 24px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 88px;
    background-color: white;
    box-sizing: border-box;
}

footer .contact-icons a{
    font-size: 20px;
}

footer .design-tag p{
    font-size: 15px;
}

@media (max-width: 1100px){
    .content{
        flex-direction: column;
        padding: 88px 0px 0px 0px;
        gap: 40px;
    }

    .intro{
        position: static;
        width: 100%;
        opacity: 1;
        transform: none;
        text-align: left;
        box-sizing: border-box;
        padding: 0px 20px;
    }

    .intro-description p:last-child{
        margin-bottom: 0px;
    }

    .experience{
        margin: 0;
        border-left: none;
        border-right: none;
        border-top: 1px solid gray;
    }

    .experience-row{
        flex-direction: column;
    }

    .job-image{
        flex: auto;
        max-width: 100%;
    }

    .footer{
        display: none;
    }

    footer{
        display: flex;
    }
}

@media (max-width: 700px){
    header{
        height: 70px;
        padding: 15px 16px;
    }

    header p{
        font-size: 32px;
    }

    nav a{
        font-size: 14px;
        gap: 20px;
    }

    .intro-description > p.hello{
        margin: 0px 0px 20px 0px;
    }

    .intro p,
    .intro a{
        font-size: 18px;
    }

    .job-info p{
        font-size: 18px;
    }

    p.job-title{
        font-size: 32px;
    }

    .job-description p{
        font-size: 18px;
    }

    .job-image{
        max-width: 100%;
    }
}

@media (max-width: 480px){
    nav{
        gap: 16px;
    }

    .intro{
        gap: 20px;
    }

    .intro p,
    .intro a{
        font-size: 16px;
    }

    .job-info p{
        font-size: 16px;
    }

    p.job-title{
        font-size: 30px;
    }

    .job-description p{
        font-size: 16px;
    }

    footer{
        gap: 50px;
    }

    footer .contact-icons a,
    footer .design-tag p{
        font-size: 14px;
    }

    footer .design-tag p{
        text-align: right;
    }
}
