@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

body{
    margin: 0;
    background-color:rgb(247, 176, 240);
}

.intro{
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
    color: white;
    max-height: 100vh;
}

img{
    flex: 1 1 55%;
    width: 50%;
    height: 100vh;
    object-fit: cover;
    object-position: left center;
    display: block;
}

.description{
    flex: 1 1 50%;
    text-align: center;
    padding: 0px 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-family: "Caprasimo", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    margin: 0;
}

h2{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin: 10px 0px 20px 0px;
}

p{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 0px 40px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 30px 0px;
}

button{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    padding: 12px 28px;
    border: 2px solid white;
    color: white;
    background-color:rgb(247, 176, 240);
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
}

button:hover{
    background: rgb(247, 100, 229);
    color: white;
}

@media (max-width: 800px) {
  .intro {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: auto;
  }
  
  img{
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: 0;
  }

  .description{
    width: 100%;
    padding: 20px;
    margin: 0;
  }

  h1{
    font-size: 40px;
  }

  p, h2{
    font-size: 16px;
  }

  button{
    font-size: 16px;
    padding: 10px 20px;
  }

}